{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div>
    <form action="" method="post">
        <input type="hidden" name="__Secure-_csrf_token" value="{{ csrf_token() }}">

        <input type="password" id="password" name="password">
        <input type="submit">
    </form>

</div>

{% endblock %}