{% extends "base.html" %}

{% block title %}{{game.title}}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href="/static/tagit/jquery.tagit.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/static/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">

{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<div class="dynamicwrapperfixed">
    <div>
        {% if game.game_image != None %}
            <div><img class="forty" src="{{ game.game_image }}" alt="#"/></div>
        {% else %}
            <div><img src="about:blank" height="100" alt="#"/></div>
        {% endif %}
        <p></p>
        <h5><strong>Game:</strong> {{game.title}}</h5>
    </div>
    <div>
        <h4><u>Info</u></h4>
        {% for category in categories%}
            <p><strong>Categories:</strong> {{category}}</p>
        {% endfor %}
        <p><strong>Developer:</strong> {{game.developer}}</p>
        <p><strong>Publisher:</strong> {{game.publisher}}</p>
        <p><strong>Release Date:</strong> {{game.release_date}}</p>
<!--        <p><strong>Summary:</strong> summary placeholder </p>-->
    </div>
    <div>
        <h4><u>Stats</u></h4>
        <p>Average Score: <strong>{{game.average_score}}/10</strong></p>
        <p>Rated <strong>&#xe125 {{game.ratings_count}}</strong> times.</p>
        <p>Completed <strong>{{times_completed}}</strong> times.</p>
    </div>

    <div>
        <div>If You Like <strong>{{game.title}}</strong>, Check Out...</div>
        <p></p>
        <div class="owl-carousel owl-theme">
        {% for similargame in similar_games %}
            <div class="item">
                {% if 'user' in session %}
                    {% for similar in game.similar %}
                        <!-- absolute monolith of conditional. seems to function. surely there is a shorter way to write this
                       the goal here is get all instances where active user_id has endorsed a given game in active game page
                       and then make them unable to re-endorse. -->
                        {% if similar.similar_game_id == similargame._id %}
                            {% if (session['user_id'] == (similar.by_user.
                            filter_by(user_id=session['user_id'], games_similar_id=similar._id).first().user_id))
                            and (similar._id == (similar.by_user.
                            filter_by(user_id=session['user_id'], games_similar_id=similar._id).first().games_similar_id)) %}
                            <!-- if user starred game: star full                -->
                                <form method="POST" action="">
                                    <input type="hidden" name="__Secure-_csrf_token" value="{{ csrf_token() }}">
                                    <button disabled='true' type="submit" name="star" value="{{similargame._id}}" class="is-recommended">
                                        &starf;
                                        {{similar.times_recommended}}
                                    </button>
                                </form>
                            <!--  else (user has not starred) star empty                   -->
                            {% else %}
                                <form method="POST" action="">
                                    <input type="hidden" name="__Secure-_csrf_token" value="{{ csrf_token() }}">
                                    <button type="submit" name="star" value="{{similargame._id}}" class="is-not-recommended">
                                        &star;
                                        {{similar.times_recommended}}
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                <!--  no user logged in     -->
                    {% for similar in game.similar %}
                        {% if similar.similar_game_id == similargame._id %}
                            <button disabled='true' type="submit" name="star" value="{{similargame._id}}" class="is-not-recommended">
                                &star;
                                {{similar.times_recommended}}
                            </button>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <a href='/game/{{similargame.title | urlencode}}'>
                    {% if similargame.game_image != None %}
                        <div><img src="{{ similargame.game_image }}" alt="#"/></div>
                    {% else %}
                        <div><img src="about:blank" height="50" alt="#"/></div>
                    {% endif %}
                    <strong>
                        {{similargame.title}}
                    </strong>
                </a>
            </div>
        {% endfor %}
        </div>
            <p></p>
            {% if 'user' in session %}
                <button id="open" class="recommend-button">Click to Recommend a Game</button>
                <div class="form-popup" id="myForm">
                    <form method="POST" action="" class="form-container">
                        <input type="hidden" name="__Secure-_csrf_token" value="{{ csrf_token() }}">

                        <ul id="gameTags">
                        </ul>
                        <button type="submit" class="btn" name="submit_rec" value="submit_rec">Submit</button>
                        <button type="button" class="btn cancel" id="close">Close</button>
                    </form>
                </div>
            {% else %}
                <button class="recommend-button" disabled="true">Click to Recommend Similar Game</button>
                <div>
                    <a href="{{url_for('register')}}">create an account</a> /
                    <a href="{{url_for('login')}}">login</a>
                    to make a recommendation.
                </div>
            {% endif %}
    </div>
    <div>
        <div>
            <div class="heading"><strong>Forum Mentions</strong></div>
            <form method="GET" action="/newpost/{{game_name}}">
                <div><button>Post a New Thread</button></div>
            </form>
            <p></p>
            <div class="white-bg">
                {% for post in linked_posts %}
                    <div><a href="/forums/{{post.title}}"> {{post.title}} </a></div>
                {% endfor %}
            </div>
        </div>

    </div>
    <div>
        {% if 'user' in session %}
            <form method="POST" action="">
                <input type="hidden" name="__Secure-_csrf_token" value="{{ csrf_token() }}">
                {% if game._id in user_game_list %}
                    {% for line in details %}
                        {% if game._id == line.game_id %}
                            <strong>
                                Game Already on <a href="/profile/gamelist/{{session['user']}}">Your List</a>
                            </strong>
                            <div>Game Status: {{ line.status }}</div>
                            <div>Your Score: {{ line.score }}</div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <strong>Add Game to My List</strong>
                    <div>Game Status: {{ add_game_form.status }}</div>
                    <div>Your Score: {{ add_game_form.score }}</div>
                    <p></p>
                    <div class="large">{{ add_game_form.submit }}</div>
                    {{ add_game_form.game(value=game.title) }}
                    {{ add_game_form.csrf_token }}
                {% endif %}
            </form>
        {% else %}
            <div>
                <strong>Add Game to My List</strong>
                <div>Game Status: {{ add_game_form.status }}</div>
                <div>Your Score: {{ add_game_form.score }}</div>
                <div>{{ add_game_form.submit(disabled=True) }}</div>
                <div>
                    <a href="{{url_for('register')}}">create an account</a>
                    /
                    <a href="{{url_for('login')}}">login</a>
                    to add games to list.
                </div>
            </div>
        {% endif %}
    </div>
</div>
<hr>
<p></p>

{% block javascript %}
    <script nonce="{{ csp_nonce() }}" src="/static/jquery-3.6.1.min.js"></script>
    <script nonce="{{ csp_nonce() }}" src="/static/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/game-page-carousel.js') }}"> </script>

    <!--fixing bug of head requests breaking the passed flask variable:
    solution was a missing preceding slash at start of local links.-->

    <script nonce="{{ csp_nonce() }}" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/152-noconflict.js') }}"></script>

    <script nonce="{{ csp_nonce() }}" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script nonce="{{ csp_nonce() }}" src="/static/tagit/tag-it-similargames.js" type="text/javascript" charset="utf-8"></script>

    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/formopen.js') }}"></script>

    <script type="text/javascript" nonce="{{ csp_nonce() }}" > {% include "javascript/game-tagit.js" %} </script>
{% endblock %}


{% endblock %}